.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.line_one{
    color: inherit;
    font-size: 2.5vh;
    line-height: auto;
    text-transform: uppercase;
    letter-spacing: 0.5vh;
    transform: translateX(-100%);
    animation: slideIn 1s ease forwards;
}

.line_two{
    margin-top: 1vh;
    color: inherit;
    font-size: 14vh;
    line-height: 16vh;
    font-family: 'Times New Roman' !important;
    position: relative;
    transform: translateY(200%);
    animation: slideIn 1s ease forwards;
    animation-delay: 1s;
}

.line_two::after{
    content:"";
    position:absolute;
    /* border: 2px solid blue; */
    height: 0.5vh;
    width:3vh;
    top:100%;
    left:0;
    background-color:white;
}

.text{
    margin-top: 4vh;
    color: rgb(200,200,200);
    font-size: 1.75vh;
    width: 50%;
    letter-spacing: 0.1vh;
    transform: translateX(-100%);
    animation: slideIn 1s ease forwards;
    animation-delay: 2s;
}

.bx1{
    display: flex;
    flex-direction: column;
    background-color: red;
}

.sub_bx2{
    background-color: red;
}

@keyframes slideIn {
    100%{
        transform: translate(0%);
    }
}