.container{
    height: 42vh;
    width: 20vw;
    position: relative;
    overflow: hidden;
    transform: translateX(100%);
    animation: slideIn 1s ease forwards;
    animation-delay: 2s;
}


/* Frame styling */
.frame_container{
    position: absolute;
    display: flex;
    transition: 0.5s all ease-in-out;
}


.frame{
    position: relative;
    height: 42vh;
    width: 20vw;
    color: white;
}

.frame_image{
    position: absolute;
    top: 0;
    right: 0;
    height: 14.63vh;
    width: 100%; 
    /* Background styling */
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
}


.current_frame{
    position: absolute;
    right: 0;
    top: 16.5vh;
    margin-top: 2vh;
    color: rgb(170,170,170);  
    font-size: 2vh;
}

.frame_title{
    position: absolute;
    top: 23vh;
    right: 0;
    font-size: 2.5vh;
    letter-spacing: 0.5vh;
    font-weight: 700;
}

.frame_description{
    position: absolute;
    right: 1%;
    top: 29vh;
    font-size: 2vh;
    width: 85%;
    text-align: right;
    color: rgb(170,170,170);  
}


/* Button styling */
.btnContainer{
    position: absolute;
    right: 0;
    height: auto;
    width: 25%;
    bottom: 2vh;
    display: flex;
    color: white;
    justify-content: space-between;
}

.btn{
    cursor: pointer;
    transform: scaleY(1.9);
    font-weight: 900;
    font-size: 2.5vh;
}

@keyframes slideIn {
    100%{
        transform: translateX(0%);
    }
}